.calendarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.toggleButton {
  padding: 5px;
  cursor: pointer;
  user-select: none;
}

.calendarPanel {
  width: 280px;
}

.date, .weekDate {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  /*border: 1px solid #ccc;*/
  box-sizing: border-box;
  user-select: none;
}

.date {
  cursor: pointer;
  color: #ccc;
}

.date:hover {
  background-color: #F6F6F6FF;
}

.calendarPanelWeek, .calendarPanelDate {
  display: flex;
  flex-wrap: wrap;
}

.visible {
  color: #000;
}

.today {
  border: 2px solid  #3e8df5;
}

.chosen {
  background-color: #3e8df5!important;
  color: #fff;
}